<ng-container *ngIf="(viewState$ | async) as viewState">
  <ng-container *ngIf="(routeParams$ | async) as routeParams">
    <ng-container *ngIf="(currentProject$ | async) as currentProject">
      <ng-container *ngIf="(currentFeature$ | async) as currentFeature">
        <form *ngIf="viewState.editMode;else viewMode" #f="ngForm" (ngSubmit)="onSaveFeature(f, currentProject, routeParams.epicIndex, routeParams.featureIndex)">
          <mat-form-field>
            <mat-label>title</mat-label>
            <input matInput required name="title" placeholder="title" [ngModel]="currentFeature?.title">
          </mat-form-field>
          <mat-form-field>
            <mat-label>description</mat-label>
            <textarea matInput required name="description" matTextareaAutosize matAutosizeMinRows="1" matAutosizeMaxRows="5" placeholder="description"
              [ngModel]="currentFeature?.description"></textarea>
          </mat-form-field>
          <div>
            <button mat-raised-button color="primary" type="submit">Save</button>
            <button mat-raised-button color="primary" (click)="onCancelEditFeature()">Cancel</button>
          </div>
        </form>
        <ng-template #viewMode>
          <div class="data-line">
            <span class="data data-label">title:</span>
            &nbsp;
            <span class="data data-value">{{ currentFeature?.title }}</span>
          </div>
          <div class="data-line">
            <span class="data data-label">description:</span>
            &nbsp;
            <span class="data data-value">{{ currentFeature?.description }}</span>
          </div>
          <div class="data-line">
            <span class="data data-label">last updated on:</span>
            <span class="data data-value">{{ currentFeature?.lastUpdatedOn | date:'d-MMM-yyyy H:mm:ss' }}</span>
            <span class="data data-label">by:</span>
            <span class="data data-value">{{ currentFeature?.lastUpdatedBy.displayName }}</span>
          </div>
          <button mat-raised-button color="primary" (click)="onEditFeature(currentFeature)">Edit</button>
        </ng-template>

        <mat-list>
          <h3 mat-subheader>Tasks</h3>
          <mat-list-item *ngFor="let task of currentFeature.tasks; let taskIndex = index"
              (click)="onTaskSelected(routeParams.index, routeParams.epicIndex, routeParams.featureIndex, taskIndex)">
            <mat-icon mat-list-icon>folder</mat-icon>
            <h4 mat-line [ngClass]="{'deleted-task': task.status == 'DELETED'}">Title: {{task.title}}</h4>
            <span class="fill-remaining-space"></span>
            <button mat-icon-button color="primary" title="delete task" [disabled]="task.status == 'DELETED'"
                (click)="onTaskDeleted($event, currentProject, task.key)">
              <mat-icon aria-label="Delete task button">delete</mat-icon>
            </button>
          </mat-list-item>
          <mat-expansion-panel (opened)="addTaskPanelOpenState = true" (closed)="addTaskPanelOpenState = false" [expanded]="addTaskPanelOpenState">
            <mat-expansion-panel-header>
              Add Task
            </mat-expansion-panel-header>
            <mat-panel-description *ngIf="addTaskPanelOpenState">
              Please fill out the task information and click the add button.
            </mat-panel-description>

            <form (ngSubmit)="onAddTask(f, currentProject, routeParams.epicIndex, routeParams.featureIndex)" #f="ngForm">
              <mat-form-field hideRequiredMarker="false" floatLabel="'auto'">
                <input matInput required [(ngModel)]="addedTask.title" name="title">
                <mat-placeholder>
                  <mat-icon>edit</mat-icon>
                  <b>Task Title</b>
                </mat-placeholder>
              </mat-form-field>

              <mat-form-field hideRequiredMarker="false" floatLabel="'auto'">
                <textarea matInput required matTextareaAutosize matAutosizeMinRows="1" matAutosizeMaxRows="5" [(ngModel)]="addedTask.description"
                  name="description"></textarea>
                <mat-placeholder>
                  <mat-icon>edit</mat-icon>
                  <b>Task Description</b>
                </mat-placeholder>
              </mat-form-field>

              <mat-action-row>
                <button mat-icon-button color="primary" title="add task" type="submit" [disabled]="!f.valid">
                  <mat-icon aria-label="Add task button">add</mat-icon>
                </button>
              </mat-action-row>
            </form>
          </mat-expansion-panel>
        </mat-list>
      </ng-container>
    </ng-container>
  </ng-container>
</ng-container>