<ng-container *ngIf="(routeParams$ | async) as routeParams">
  <ng-container *ngIf="(currentProject$ | async) as currentProject">
    <mat-list>
      <h3 mat-subheader>Tasks
        <span class="fill-remaining-space"></span>
        <mat-checkbox [(ngModel)]="showDeletedTasks">Show deleted tasks</mat-checkbox>
      </h3>
      <ng-container *ngFor="let task of currentProject.tasks; let taskIndex = index">
        <mat-list-item *ngIf="task.status != 'DELETED' || showDeletedTasks" (click)="onTaskSelected(routeParams.index, taskIndex)">
          <mat-icon mat-list-icon>folder</mat-icon>
          <h4 mat-line [ngClass]="{'deleted-item-text': task.status == 'DELETED'}">Title: {{task.title}}</h4>
          <span class="fill-remaining-space"></span>
          <button mat-icon-button color="primary" title="delete task" [disabled]="task.status == 'DELETED'" (click)="onTaskDeleted($event, currentProject, task.key)">
            <mat-icon aria-label="Delete task button">delete</mat-icon>
          </button>
        </mat-list-item>
      </ng-container>
      <ng-container *ngFor="let task of currentProject.epics; let epicIndex = index">
        <ng-container *ngFor="let task of currentProject.epics[epicIndex].tasks; let taskIndex = index">
          <mat-list-item *ngIf="task.status != 'DELETED' || showDeletedTasks" (click)="onTaskSelected(routeParams.index, taskIndex)">
            <mat-icon mat-list-icon>folder</mat-icon>
            <h4 mat-line [ngClass]="{'deleted-item-text': task.status == 'DELETED'}">Title: {{task.title}}</h4>
            <span class="fill-remaining-space"></span>
            <button mat-icon-button color="primary" title="delete task" [disabled]="task.status == 'DELETED'" (click)="onTaskDeleted($event, currentProject, task.key)">
              <mat-icon aria-label="Delete task button">delete</mat-icon>
            </button>
          </mat-list-item>
        </ng-container>
        <ng-container *ngFor="let task of currentProject.epics[epicIndex].features; let featureIndex = index">
          <ng-container *ngFor="let task of currentProject.epics[epicIndex].features[featureIndex].tasks; let taskIndex = index">
            <mat-list-item *ngIf="task.status != 'DELETED' || showDeletedTasks" (click)="onTaskSelected(routeParams.index, taskIndex)">
              <mat-icon mat-list-icon>folder</mat-icon>
              <h4 mat-line [ngClass]="{'deleted-item-text': task.status == 'DELETED'}">Title: {{task.title}}</h4>
              <span class="fill-remaining-space"></span>
              <button mat-icon-button color="primary" title="delete task" [disabled]="task.status == 'DELETED'" (click)="onTaskDeleted($event, currentProject, task.key)">
                <mat-icon aria-label="Delete task button">delete</mat-icon>
              </button>
            </mat-list-item>
          </ng-container>
        </ng-container>
      </ng-container>
      <mat-expansion-panel (opened)="addTaskPanelOpenState = true" (closed)="addTaskPanelOpenState = false" [expanded]="addTaskPanelOpenState">
        <mat-expansion-panel-header>
          Add Task
        </mat-expansion-panel-header>
        <mat-panel-description *ngIf="addTaskPanelOpenState">
          Please fill out the task information and click the add button.
        </mat-panel-description>

        <form (ngSubmit)="onAddTask(f2, currentProject)" #f2="ngForm">
          <mat-form-field hideRequiredMarker="false" floatLabel="'auto'">
            <input matInput required [(ngModel)]="addedTask.title" name="title">
            <mat-placeholder>
              <mat-icon>edit</mat-icon>
              <b>Task Title</b>
            </mat-placeholder>
          </mat-form-field>

          <mat-form-field hideRequiredMarker="false" floatLabel="'auto'">
            <textarea matInput required matTextareaAutosize matAutosizeMinRows="1" matAutosizeMaxRows="5" [(ngModel)]="addedTask.description"
              name="description"></textarea>
            <mat-placeholder>
              <mat-icon>edit</mat-icon>
              <b>Task Description</b>
            </mat-placeholder>
          </mat-form-field>

          <mat-action-row>
            <button mat-icon-button color="primary" title="add task" type="submit" [disabled]="!f2.valid">
              <mat-icon aria-label="Add task button">add</mat-icon>
            </button>
          </mat-action-row>
        </form>
      </mat-expansion-panel>
    </mat-list>
  </ng-container>
</ng-container>