<ng-container *ngIf="(selectedProjectIndex$ | async) as selectedProjectIndex">
  <mat-toolbar color="accent" *ngIf="(selectedProject$ | async) as selectedProject">
    <a mat-button routerLink="/project/{{selectedProjectIndex}}">
      <h2 class="project-title">{{selectedProject.title}} </h2>
    </a>
    <div fxLayout="row" fxHide fxShow.gt-xs>
      <a mat-button routerLink="/project/{{selectedProjectIndex}}/sprints" routerLinkActive="active-button bold-text">sprints</a>
      <a mat-button routerLink="/project/{{selectedProjectIndex}}/backlog" routerLinkActive="active-button bold-text">backlog</a>
      <a mat-button routerLink="/project/{{selectedProjectIndex}}/collaborators" routerLinkActive="active-button bold-text">collaborators</a>
    </div>

    <button mat-button [mat-menu-trigger-for]="menu" fxShow fxHide.gt-xs>
      <mat-icon>menu</mat-icon>
    </button>

    <!-- This fills the remaining space of the current row -->
    <span class="fill-remaining-space"></span>

    <span fxHide fxShow.gt-xs>
      <a mat-button routerLink="/projects" color="primary" class="bold-text">all projects</a>
    </span>
  </mat-toolbar>
  <mat-menu x-position="before" #menu>
    <button mat-menu-item routerLink="/project/{{selectedProjectIndex}}/sprints" routerLinkActive="bold-text">sprints</button>
    <button mat-menu-item routerLink="/project/{{selectedProjectIndex}}/backlog" routerLinkActive="bold-text">backlog</button>
    <button mat-menu-item routerLink="/project/{{selectedProjectIndex}}/collaborators" routerLinkActive="bold-text">collaborators</button>
  </mat-menu>
  <ng-container *ngIf="(routerState$ | async) as routerState">
    <div class="breadcrumb-container" *ngIf="(breadcrumbs$ | async) as breadcrumbs">
      <span class="breadcrumb" *ngFor="let breadcrumb of breadcrumbs; let i=index" (click)="onBreadcrumbClick(breadcrumbs, i)">{{ breadcrumb.name | titlecase }}</span>
    </div>
  </ng-container>
</ng-container>
<router-outlet></router-outlet>