.fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
}

.bold-text {
    font-weight: bold;
}

.project-title {
    margin-right: 20px;
}

.breadcrumb-container {
    background-color: lightgray;
    margin: 2px;
    padding: 8px;
}

.breadcrumb {
    margin: 10px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: bolder;
    color: dodgerblue;
}

.breadcrumb-container .breadcrumb + .breadcrumb:before {
    content: ">";
    margin-right: 15px;
}

.breadcrumb:not(:last-child) {
    cursor: pointer;
}

.breadcrumb:last-child {
    color: black;
}