<ng-container *ngIf="(state$ | async) as viewState">
  <form *ngIf="(index$ | async) as i" (ngSubmit)="onSaveProject(f, viewState.projects[i])" #f="ngForm">
    <mat-form-field *ngIf="viewState.editMode;else viewModeTitleContent">
      <mat-label>title</mat-label>
      <input
        matInput
        required
        name="title"
        placeholder="title"
        [ngModel]="viewState.projects[i]?.title">
    </mat-form-field>
    <ng-template #viewModeTitleContent>
      title:
      <span>{{ viewState.projects[i]?.title }}</span>
    </ng-template>

    <mat-form-field *ngIf="viewState.editMode;else viewModeSummaryContent">
      <mat-label>summary</mat-label>
      <textarea
        matInput
        required
        name="summary"
        matTextareaAutosize
        matAutosizeMinRows="1"
        matAutosizeMaxRows="5"
        placeholder="summary"
        [ngModel]="viewState.projects[i]?.summary"></textarea>
    </mat-form-field>
    <ng-template #viewModeSummaryContent>
      summary:
      <span>{{ viewState.projects[i]?.summary }}</span>
    </ng-template>

    <div *ngIf="viewState.editMode;else viewModeButtons">
      <button mat-raised-button color="primary" type="submit">Save</button>
      <button mat-raised-button color="primary" (click)="onCancelEdit()">Cancel</button>
    </div>
    <ng-template #viewModeButtons>
      <button mat-raised-button color="primary" (click)="onEditProject(viewState.projects[i])">Edit</button>
    </ng-template>
  </form>
</ng-container>
